<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<th:block th:fragment="footer">
<p>&nbsp;</p>
<footer class="page-footer font-small bg-dark">
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright: rsg.com
  </div>
</footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</th:block>
</body>
</html>
